.tile-progress {
    background-color: #303641;
    color: #fff;
}
.tile-progress {
    background: #00a65b;
    color: #fff;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.tile-progress .tile-header {
    padding: 15px 20px;
    padding-bottom: 3%;
}
.tile-progress .tile-progressbar {
    height: 2px;
    background: rgba(0,0,0,0.18);
    margin: 0;
}
.tile-progress .tile-progressbar span {
    background: #fff;
}
.tile-progress .tile-progressbar span {
    display: block;
    background: #fff;
    width: 0;
    height: 100%;
    -webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    -moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    -o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
}
.tile-progress .tile-footer {
    padding: 20px;
    text-align: right;
    background: rgba(0,0,0,0.1);
    -webkit-border-radius: 0 0 3px 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 0 3px 3px;
    -moz-background-clip: padding;
    border-radius: 0 0 3px 3px;
    background-clip: padding-box;
}

.tile-progress.tile {
    background-color: #00b29e;
    color: #fff;
}
#sidepanel{
    width:12%;
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}
.halfLeft{
    width: 50%;
    float:left;
    text-align: center;
    margin: 0;
}
.halfRight{
    width: 50%;
    float:right;
    text-align: center;
    margin: 0;
}
.tile-footer{
    overflow: auto;
}