body {
    margin: 0;
    overflow:hidden;
    font-family: "Roboto", Roboto, serif;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.fullscreen{
    width:100vw;
    height:100vh;
}
#first, #second{
    background-color: black;
}
#blackwall{
    background-color: black;
}
#audio, #laser{
    visibility: hidden;
}
#second{
    display: none;
}
#gif{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#left50{
    width:50vw;
    height:100%;
    float:left;
    margin: 0;
}
#right50{
    width:50vw;
    height:100%;
    float:right;
}
#gui{
    width: 100vw;
    height:100vh;
    position: absolute;
    pointer-events: none;
    text-align: center;
}

.tile{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#nextwave{
    pointer-events: all!important;
    margin-left: 10%;
    width: 90%;
}
#placetowerdiv{
    width: 20vw;
    height:85px;
    display: none;
    bottom: 20px;
    position: absolute;
    margin-left: 40vw;
}
#placetower{
    pointer-events: all!important;
    width: 85px;
    height: 85px;
    font-size: 53px;
    line-height: 1.33;
    border: none;
    border-radius: 50px;
    padding: 0 0 0;
    background-color: limegreen;
    float:left;
    z-index: 12;
    position: relative;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#placetower:hover{
    background-color: grey;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#placetowertxt{
    color:dimgrey;
    position: absolute;
    width: 0;
    height:80%;
    margin-top: 2%;
    margin-left:40px;
    background-color: whitesmoke;
    opacity: 0.9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#upgradetowerdiv{
    width: 20vw;
    height:85px;
    display: none;
    bottom: 20px;
    position: absolute;
    margin-left: 40vw;
}

#upgradetower{
    pointer-events: all!important;
    width: 85px;
    height: 85px;
    font-size: 53px;
    line-height: 1.33;
    border: none;
    border-radius: 50px;
    padding: 0 0 0;
    background-color: orange;
    float:left;
    z-index: 12;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#upgradetower:hover{
    background-color: grey;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#upgradetowertxt{
    color:dimgrey;
    position: absolute;
    width: 90%;
    height:80%;
    margin-top: 2%;
    margin-left:40px;
    background-color: whitesmoke;
    opacity: 0.9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#upgradetowertxt i{
    font-size: 12px;
}

.container{
    width:100vw;
}
.alert{
    margin-top: 10px!important;
    width:40vw;
    position: absolute;
    margin-left: 30vw;

}
#error{
    display: none;
}
#errornospace{
    display: none;
}
#errorhighlvl{
    display: none;
}
#errorbeaverspawn{
    display: none;
}
#success{
    display: none;
}
#tutorial{
    position: relative;
    pointer-events: all!important;
    color:white;
    background-color:rgba(192,192,192,0.7);
    padding-top: 1vh;  }
#close{
    float:right;
    width: 100px;
    height: 100px;
}

.card{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width:30vw;
    margin-left: 35vw;
    margin-bottom: 1vh;
    padding:0;
    color:dimgrey;
}

.green {
    color: green;
}

.yellow {
    color: orange;
}

.red {
    color: red;
}

