body {
    margin: 0;
    overflow:hidden;
    font-family: "Roboto", Roboto, serif;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.fullscreen{
    width:100vw;
    height:100vh;
    background-color:whitesmoke;
    text-align: center;
}
#topbar{
    width:100vw;
    height:35vh;
    background-color:dodgerblue;
    color:white;
    position:absolute;
    top:-440px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#midbar{
    width:100vw;
    height:100vh;
    background-color: whitesmoke;
    padding-top:35vh;
}
#bottombar{
    width:100vw;
    height:10vh;
    background-color: dodgerblue;
    position:absolute;
    top:120vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#bottombar h3{
    margin-top:2%;
    color:white;
}

#pushdown{
    margin-top:10vh;
}
h1{
    margin:0;
    padding:0;
    font-size:80px;
}

#left50{
    width:50vw;
    height:100%;
    float:left;
    margin: 0;
  }
#right50{
    width:50vw;
    height:100%;
    float:right;
}
#buttonleft{
    width: 50%;
    height:30%;
    float:right;
    margin-right:8%;
    margin-top:12%;
}
#buttonright{
    width: 50%;
    height:30%;
    float:left;
    margin-left:8%;
    margin-top:12%;
}
#instrplay{
    width: 30%;
    height:20vh;
    margin-top:12%;
}
.menubutton{
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
}
.menubutton:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#instructions{
    background-color: lightskyblue;
    color:white;
    padding-top:10%;
}

#gui{
    width: 100vw;
    height:100vh;
    position: absolute;
    pointer-events: none;
    text-align: center;
}

.tile{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#nextwave{
    pointer-events: all!important;
    margin-left: 10%;
    width: 90%;
}
#placetowerdiv{
    width: 20vw;
    height:85px;
    display: none;
    bottom: 20px;
    position: absolute;
    margin-left: 40vw;
}
#placetower{
    pointer-events: all!important;
    width: 85px;
    height: 85px;
    font-size: 53px;
    line-height: 1.33;
    border: none;
    border-radius: 50px;
    padding: 0 0 0;
    background-color: limegreen;
    float:left;
    z-index: 12;
    position: relative;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#placetower:hover{
    background-color: grey;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#placetowertxt{
    position: absolute;
    width: 0;
    height:80%;
    margin-top: 2%;
    margin-left:40px;
    background-color: whitesmoke;
    opacity: 0.9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#upgradetowerdiv{
    width: 20vw;
    height:85px;
    display: none;
    bottom: 20px;
    position: absolute;
    margin-left: 40vw;
}

#upgradetower{
    pointer-events: all!important;
    width: 85px;
    height: 85px;
    font-size: 53px;
    line-height: 1.33;
    border: none;
    border-radius: 50px;
    padding: 0 0 0;
    background-color: orange;
    float:left;
    z-index: 12;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#upgradetower:hover{
    background-color: grey;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#upgradetowertxt{
    position: absolute;
    width: 90%;
    height:80%;
    margin-top: 2%;
    margin-left:40px;
    background-color: whitesmoke;
    opacity: 0.9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.container{
    width:100vw;
}
.alert{
    margin-top: 10px!important;
    width:40vw;
    position: absolute;
    margin-left: 30vw;

}
#error{
    display: none;
}
#errornospace{
    display: none;
}
#success{
    display: none;
}
